.board {
    display: flex;
    width: auto;
    margin: 2rem;
    background-color: rgb(247, 197, 91);
    justify-content: space-around;
    padding: 1rem;
    border-radius: 15px;
}

.board section {
    display: block;
}

.field {
    display: inline-flex;
}

@media (max-width: 768px) {
    .board{
        display: block;
        /* flex-direction: column; */
            max-width: 450px;
        align-items: center;

    }
   .board section {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
   }
    .field {
        display: block;
        flex-direction: column;
    
      
        }
    
}