.header {
    color: white;
    display: flex;
    text-align: center;
    justify-content:  space-around;
}

.header button {
    height: 4rem;
    width: auto;
    background-color: chocolate;
    border-radius: 15px;
}

.header button:hover {
    cursor: pointer;
    background-color: rgb(148, 77, 26);
}